body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grids {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
    outline: 2px solid black;
    margin-bottom: 30px;
}

.settings {
    display: flex;
}

.square {
    outline: 0.1px solid black;
}